<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gang.aop.dao.UserDao">
    <!--<resultMap id="BaseResultMap" type="user">-->
        <!--<id column="CALLSTATUSID" property="callStatusId" jdbcType="NUMERIC" />-->
        <!--<result column="SESSIONSID" property="sessionsId" jdbcType="VARCHAR" />-->
        <!--<result column="CALLSTATE" property="callState" jdbcType="VARCHAR" />-->
        <!--<result column="ISINCOMINGCALL" property="isincomingcall" jdbcType="NUMERIC" />-->
        <!--<result column="ISTRANSFER" property="istransfer" jdbcType="NUMERIC" />-->
        <!--<result column="STATETIME" property="stateTime" jdbcType="VARCHAR" />-->
        <!--<result column="REASON" property="reason" jdbcType="VARCHAR" />-->
        <!--<result column="CREATOR" property="creator" jdbcType="VARCHAR" />-->
        <!--<result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="UPDATOR" property="updator" jdbcType="VARCHAR" />-->
        <!--<result column="UPDATETIME" property="updateTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="ISDEL" property="isDel" jdbcType="NUMERIC" />-->
    <!--</resultMap>-->
    <!--<sql id="Base_Column_List">-->
        <!--CALLSTATUSID, SESSIONSID, CALLSTATE, ISINCOMINGCALL,ISTRANSFER, STATETIME, REASON,-->
        <!--CREATOR,-->
        <!--CREATETIME, UPDATOR, UPDATETIME, ISDEL-->
    <!--</sql>-->
    <!-- 添加操作 -->
    <!--<insert id="addCallStatus" parameterType="user">-->
        <!--<selectKey resultType="java.lang.Long" keyProperty="callStatusId"-->
                   <!--order="BEFORE">-->
            <!--select HWPHONE_CALLSTATUS_SEQ.nextval as CALLSTATUSID from dual-->
        <!--</selectKey>-->
        <!--insert into HWPHONE_CALLSTATUS (CALLSTATUSID, SESSIONSID, CALLSTATE,-->
        <!--ISINCOMINGCALL,ISTRANSFER,STATETIME, REASON,-->
        <!--CREATOR, CREATETIME, UPDATOR,-->
        <!--UPDATETIME, ISDEL)-->
        <!--values (#{callStatusId,jdbcType=NUMERIC}, #{sessionsId,jdbcType=VARCHAR},-->
        <!--#{callState,jdbcType=VARCHAR},-->
        <!--#{isincomingcall,jdbcType=NUMERIC},#{istransfer,jdbcType=NUMERIC},-->
        <!--#{stateTime,jdbcType=VARCHAR},-->
        <!--#{reason,jdbcType=VARCHAR},-->
        <!--#{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR},-->
        <!--#{updateTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=NUMERIC})-->
    <!--</insert>-->
</mapper>